.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 45px ;
  }
  
  .footer a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
  }
  
  .footer a:hover {
    color: rgba(155, 184, 228, 0.699);
    text-decoration: underline;
    transition: ease 0.25s;
  }
  