.navbar {
   padding: 10px 20px;
   background-color: rgb(23, 230, 185);
}
.nav-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-li{
    margin-right: 20px;
}
.nav-li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
.nav-li:hover {
    transition: ease-in-out 0.3s;
    color: lightcoral;
}
.nav-li:nth-child(n) {
    
}