/* Base styles */
.navbar {
    padding: 10px 20px;
    background-color: #39288C;
}
.nav-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-ul li {
    cursor: pointer;
    position: relative;
    margin: 0 1.4rem;
    padding: 1.2em 1.6em;
    transition: all 0.2s;
    transition-delay: 0.2s;
}
.nav-ul li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.2s;
}
.nav-ul li:hover {
    background-color: #17E6B9;
}
.nav-ul li:hover::before {
    bottom: 56px;
    left: 0;
    background-color: #17E6B9;
}
.nav-li {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}
.nav-li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
.nav-div a {
    color: #fff;
    text-decoration: none;
}

/* Hamburger styles */
.nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .nav-toggle {
        display: flex;
    }
    .nav-ul {
        display: none;
        flex-direction: column;
        background-color: #39288C;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    .nav-ul li {
        margin: 0;
    }
}
