.popular-movies-container {
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.movie-container {
  display: flex;
  transition: transform 1s;
  justify-content: center;
}

.movie-poster {
  width: 200px;
  height: 300px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.movie-poster:hover img {
  transform: scale(1.05);
}

.movie-poster::after {
  content: attr(data-title);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  text-align: center;
  transition: opacity 0.3s;
  opacity: 0;
}

.movie-poster:hover::after {
  opacity: 1;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 50%;
}

.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}
